# Compiled Object files
*.slo
*.lo
*.o
a.out
freetron

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# make will regenerate this
.depends

# Temporary
*~
*.png
*.tif
*.log
images
test.sh
perf.data*

# Cmake
CMakeCache.txt
cmake_install.cmake
cmake/Makefile
cmake/CMakeFiles
cmake/install_manifest.txt

# Website files
*.pdf
*.db
website/skin.cpp
website/hmac.txt
website/cbc.txt
