div.page {
    margin: 0;
    width: auto;
    display: table;
    min-width: 100%;
}

div.menu {
    width: auto;
    position: relative;
}

div.menu ul {
    margin-top: 25px;
    list-style-type: none;
    padding: 0;
}

div.menu li {
    position: relative;
    margin-top: 2px;
    font-variant: small-caps;
    border-style: solid;
    border-color: black;
    border-width: 0 0 0 0;
}

div.menu a {
    padding: 5px 15px 5px 15px;
}

div.menu li.selected {
    margin: 0 0 0 0;
    padding: 6px 15px 6px 15px;
}

div.menu li.selected:after {
    border: 0;
}

div.content {
    width: auto;
    float: none;
    border-width: 0 0 0 0;
    padding: 0 15px 10px 15px;
    margin-left: 0;
}

#footer_color {
    position: relative;
}

#forgotmsg {
    width: 80%;
}

table.login td.left {
    padding-right: 10px;
}

table#forms tr.data td {
    width: auto;
}
