div.page {
    width: auto;
    margin: 0;
    display: table;
    min-width: 100%;
}

div.header {
    position: fixed;
}

div.menu {
    width: 100%;
    height: 50px;
    top: 12px;
    position: fixed;
    background: white;
}

div.menu ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0 15px 0 15px;
}

div.menu li.blank {
    display: none;
}

div.menu li {
    position: relative;
    margin-top: 2px;
    font-variant: small-caps;
    border-style: solid;
    border-color: black;
    border-width: 0;
    float: left;
    display: inline;
    width: 120px;
    padding: 6px 15px 6px 15px;
}

div.menu a {
    margin: 0;
    padding: 0;
}

div.menu li.selected:after {
    border: 0;
}

div.content {
    width: auto;
    float: none;
    border-width: 0;
    padding: 50px 15px 10px 15px;
    margin-left: 0;
}

#footer_color {
    position: relative;
}

table#forms tr.data td {
    width: auto;
}
