@import url(http://fonts.googleapis.com/css?family=Gudea);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
    font-family: 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

div.page {
    width: 850px;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Gudea', Arial, sans-serif;
}

div.header {
    width: 100%;
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 3px 0;
    /*background-color: #558f69;*/
    margin: 0;
    padding: 0;
    background-color: #27679e;
    background: linear-gradient(#27679e, #1d4d76) repeat scroll 0% 0% transparent;
}

#footer_color {
    /*display: none;*/
    clear: left;
    width: 100%;
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px 0 0 0;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #27679e;
    background: linear-gradient(#27679e, #13334f) repeat scroll 0% 0% transparent;
}

div.menu {
    width: 145px;
    /*float: left;
    margin-left: -100%;*/
    position: fixed;
    font-family: 'Droid Serif', Georgia, sans-serif;
}

div.menu ul {
    margin-top: 25px;
    list-style-type: none;
    padding: 0;
}

div.menu li {
    position: relative;
    margin-top: 2px;
    font-variant: small-caps;
}

div.menu li.selected {
    background: #2c4d4a;
    color: white;
    margin: 0 0.8em 0 0;
    padding: 6px 4px 6px 10px;
    font-size: 1em;
}

div.menu li.selected:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 100%;
    background: transparent;
    /* Idea from http://open.gl, calc(1/2*text + padding + margin) */
    border-top:    calc(.5em + 6px + 1px) solid transparent;
    border-bottom: calc(.5em + 6px + 1px) solid transparent;
    border-left: 1.0em solid #2c4d4a;
}

div.menu a {
    color: #111;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 5px 4px 5px 10px;
}

a:focus, a:active, a:hover {
    outline-style: none;
    -moz-outline-style: none;
}

div.content {
    width: 650px;
    min-height: 150px;
    margin-left: 165px;
    /*border-style: solid;
    border-color: black;
    border-width: 0 0 0 1px;*/
    padding: 0px 10px 20px 10px;
    text-shadow: 0.05em 0.05em 0.15em #ddd;
}

h1 {
    font-size: 32px;
    font-variant: small-caps;
    margin: 15px 5px 0px 0px;
    font-family: Tahoma, sans-serif;
    text-shadow: 0.02em 0.02em 0.15em #ccc;
}

h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    font-family: Tahoma, sans-serif;
    text-shadow: 0.05em 0.05em 0.15em #bbb;
}

div.content li {
    padding-bottom: 4px;
}

div.content a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

div.content a:hover {
    border-bottom: 1px solid black;
}

div.footer {
    color: #888;
    font-size: 12px;
    width: 100%;
    padding: 15px 0 10px 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.4em #ccc;
}

div.footer a {
    color: #888;
    text-decoration: none;
    border-bottom: 1px dotted #888;
}

div.footer a:hover {
    border-bottom: 1px solid #888;
}

div.content p {
    text-align: justify;
    line-height: 125%;
}

form, table {
    text-shadow: 0 0 0 #fff;
}

form input {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #444;
    color: #444;
    outline-style: none;
    -moz-outline-style: none;
}

input::-moz-focus-inner {
    border: 0;
}

form input.field {
    display: block;
}

#upload input {
    margin: 5px 0 0 0;
    border-radius: 1px;
}

#upload input#uploadFileButton, input#key {
    padding: 7px;
}

#upload input.file {
    width: 250px;
    max-width: 250px;
}

#upload #fileError {
    display: inline;
    color: #ff0c0c;
    padding-left: 10px;
    float:left;
    margin: 5px 5px 0 0;
}

#upload #progress {
    display: block;
    padding-left: 10px;
    margin: 5px 0 0 0;
}

#forgotmsg {
    display: none;
    border: 1px solid gray;
    margin: 0;
    padding: 10px;
    width: 300px;
    font-size: 13px;
    position: absolute;
    background: #fff;
    text-align: justify;
}

#forgotlink {
    font-size: 13px;
}

#badlogin, #badusername, #badusernameupdate {
    display: none;
    color: #ff0c0c;
    margin: 0;
    padding: 5px 10px 5px 10px;
    width: 150px;
    font-size: 13px;
    text-align: justify;
}

input.new_user {
    display: block;
    background: #ffeaea;
    border: 1px solid #ff0c0c;
}

tr, td {
    vertical-align: top;
}

table.login td.left {
    padding-right: 100px;
}

table#forms {
    border-spacing: 0;
    border-collapse: separate;
    margin: 10px 0 10px 0;
}

table#forms td {
    padding: 5px;
}

table#forms td {
    border: 1px solid #aaa;
}

table#forms td.info {
    border: 0;
}

table#forms tr.head {
    background: #ccc;
}

table#forms tr.head span.id {
    display: none;
}

table#forms tr.head span.name {
}

table#forms tr.head span.del {
    font-weight: bold;
    font-size: 0.9em;
    padding: 5px;
    cursor: default;
}

table#forms tr.head span.date {
    color: #666;
}

table#forms tr.data {
    background: #fdfdfd;
}

table#forms tr.data td {
    display: block;
    width: 650px;
    overflow-x: auto;
    white-space: pre;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    font-family: 'Droid Sans Mono', Monospace, sans-serif;
}

noscript b {
    color: #ff0c0c;
    font-style: normal;
}

noscript {
    color: #890000;
    font-style: italic;
}
