<% skin theme %>
<% view forms uses content::forms extends master %>
<% template title() %>Forms :: <% include master::title() %><% end %>
<% template page_content() %>
<h1>Forms</h1>
<% if loggedIn %>
<form id="upload" enctype="multipart/form-data" method="post" action="#">
<input type="file" name="file" id="uploadFile" class="file" />
<input type="text" name="key" placeholder="Key ID" id="key" />
<input type="submit" id="uploadFileButton" value="Upload" />
<br />
<div id="fileError"></div>
<div id="progress">&nbsp;</div>

<!--<div id="fileName"></div>
<div id="fileSize"></div>
<div id="fileType"></div>-->
</form>

<table id="forms">
<tr class="title"><td class="info">
Uploaded PDF files sorted from newest to oldest
</td></tr>
</table>

<% foreach message in news_list %>
    <ul>
    <% item %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end foreach %>
<% else %>
<p>Please <a href="<% url "/account" %>">login</a>.</p>
<% end %>
<% end template %>
<% end view %>
<% end skin %>
