<% skin theme %>
<% view home uses content::master extends master %>
<% template page_content() %>
<h1>Freetron</h1>
<h2>What is this?</h2>
<p>Freetron is an open-source scantron software implementation allowing you grade
a particular variant of bubble forms. If you want forms graded, follow the
steps below. If you desire confidentiality, you can install this software
(including this site) on your own computer from
<a href="https://github.com/floft/freetron">Github</a>.</p>

<h2>Four Simple Steps</h2>
<ol>
    <li>Download and print <a href="/files/form.pdf">this form</a></li>
    <li>Scan forms to PDF (preferably grayscale at 300 dpi)</li>
    <li>Create an account to upload it on this website</li>
    <li>View or export the scores</li>
</ol>

<noscript>
<b>Warning:</b> Your browser doesn't appear to support Javascript or you have it
disabled. Expect basically nothing to work.
</noscript>
<% end template %>
<% end view %>
<% end skin %>
